
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 모바일 대응 */
@media (max-width: 480px) {
  #title {
    font-size: 1.8rem;
  }
  #explanation {
    font-size: 0.9rem;
  }
  #start-button {
    width: 80%;
  }
}


#title {
  font-size: 40px;
  font-weight: 800;
  font-family: Yoon 초록우산어린이 만세, sans-serif;
  position: fixed;
  top:250px;
  left: 100px;
}

#explanation {
  font-size: 1rem;
  color: black;
  margin-bottom: 1.8rem;
  font-family: Yoon 초록우산어린이 만세, sans-serif;
  position: fixed;
  top:330px;
  left: 150px;
}


#start-button {
position: fixed;
top:380px;
left: 100px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none; 
  font-family: Yoon 초록우산어린이 만세, sans-serif;
  width: 100px;
  height: 40px;
  background-color:deeppink;
  border-radius: 10px;
  text-align: center;
  
}


#none-button{
  text-decoration: none;
  color:white;
   font-family: Yoon 초록우산어린이 만세, sans-serif;
   position: fixed;
top:380px;
left: 260px;
  font-weight: 700;
  font-size: 20px;
   width: 100px;
  height: 40px;
  background-color:deepskyblue;
  border-radius: 10px;
  text-align: center;
}