* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'YoonChoWooSan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

/* 폰트 전역 적용 */
html,
body {
  font-family: 'YoonChoWooSan', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  overflow: hidden;
}

/* 모바일 대응 */
@media (max-width: 480px) {
  #title {
    font-size: 1.8rem;
  }

  #explanation {
    font-size: 0.9rem;
  }
}

#title {
  font-size: 8vw;
  font-weight: 800;
  font-family: 'YoonChoWooSan', sans-serif;
  margin-bottom: 20px;
  text-align: center;
  z-index: 10;
}

#explanation {
  font-size: 4vw;
  color: black;
  margin-bottom: 40px;
  font-family: 'YoonChoWooSan', sans-serif;
  text-align: center;
  z-index: 10;
}

.button-container {
  display: flex;
  gap: 20px;
  z-index: 10;
}

#start-button {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  font-family: 'YoonChoWooSan', sans-serif;
  width: 120px;
  height: 50px;
  background-color: deeppink;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#none-button {
  text-decoration: none;
  color: white;
  font-family: 'YoonChoWooSan', sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 120px;
  height: 50px;
  background-color: deepskyblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 풍선 기본 스타일 */
.balloon {
  position: absolute;
  width: 120px;
  /* 풍선 크기 */
  cursor: pointer;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* 각 풍선 위치/애니메이션 다르게 */
#index-img1 {
  top: 60%;
  left: 10%;
  animation-name: float1;
  animation-duration: 10s;
}

#index-img2 {
  top: 50%;
  left: 45%;
  animation-name: float2;
  animation-duration: 12s;
}

#index-img3 {
  top: 65%;
  left: 70%;
  animation-name: float3;
  animation-duration: 9s;
}

#index-img4 {
  top: 30%;
  left: 70%;
  animation-name: float3;
  animation-duration: 9s;
}

#index-img5 {
  top: 10%;
  left: 20%;
  animation-name: float3;
  animation-duration: 9s;
}

/* 떠다니는 모션 */
@keyframes float1 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-10px, -40px);
  }

  100% {
    transform: translate(15px, -80px);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(20px, -30px) scale(1.05);
  }

  100% {
    transform: translate(-10px, -70px) scale(0.95);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-15px, -35px);
  }

  100% {
    transform: translate(10px, -90px);
  }
}

/* 화면 밖으로 안 튀어나가게 */
body {
  overflow: hidden;
}

/* 달그락 거리는 애니메이션 */
@keyframes rattle {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }

  10% {
    transform: translate(-0.5px, -1px) rotate(-0.5deg);
  }

  20% {
    transform: translate(-1.5px, 0px) rotate(0.5deg);
  }

  30% {
    transform: translate(1.5px, 1px) rotate(0deg);
  }

  40% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }

  50% {
    transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }

  60% {
    transform: translate(-1.5px, 0.5px) rotate(0deg);
  }

  70% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
  }

  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }

  90% {
    transform: translate(0.5px, 1px) rotate(0deg);
  }

  100% {
    transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
}

#balloon {
  font-size: 13px;
  position: absolute;
  top: 600px;
  left: 280px;
  animation: rattle 0.5s infinite;
  /* 애니메이션 적용 */
}

#dic-button {
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  font-family: 'YoonChoWooSan', sans-serif;
  width: 120px;
  height: 50px;
  background-color: turquoise;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}